<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Проект Best Courses Ever</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="Best Courses Ever">
    <meta name="keywords" content="Best Courses Ever">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
{{> preloader}}
{{> menu }}
{{> promo }}
{{> feature }}
{{> about }}
{{> team }}
{{> courses }}
{{> reviews }}
{{> contacts }}
{{> footer }}

<!-- SCRIPTS -->
<script src="js/axios.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
<script src="js/script.js"></script>
<script src="js/auth-form.js"></script>

</body>
</html>