<form action="#" method="post" class="auth-form-up">
    <h2>Зарегистрироваться</h2>
    <input type="text" name="full name" class="form-control" placeholder="ФИО" required="">

    <input type="email" name="email" class="form-control" placeholder="Email" required="">

    <input type="password" name="password" class="form-control" placeholder="Пароль" required="">

    <button class="submit-btn form-control" id="form-submit">Начнем</button>
    <button type="button" class="form-link-up">Войти, если уже зарегистрированы</button>
</form>
<form action="#" method="post" class="auth-form-in">
    <h2>Войти</h2>

    <input type="email" name="email" class="form-control" placeholder="Email" required="">

    <input type="password" name="password" class="form-control" placeholder="Пароль" required="">

    <button class="submit-btn form-control" id="form-submit">Вперед</button>
    <button type="button" class="form-link-in">Еще не зарегистрированы?</button>
</form>
